<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ognev.online.app" >

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
        android:allowBackup="true"
        android:icon="@drawable/illusion"
        android:name="com.ognev.online.app.App"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.ognev.online.app.activity.SplashScreen"
            android:launchMode="singleTask"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity android:name="com.ognev.online.app.activity.PlayerActivity" android:configChanges="orientation|screenSize"/>
		<activity android:name="com.ognev.online.app.activity.LoginActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.VideoActivity" />
		<activity android:name="com.ognev.online.app.activity.RegistrationActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.MainActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.ReviewsActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.TariffActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.SerialActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.SeasonActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.PlayerEpisodeActivity" android:launchMode="singleTask"/>
		<activity android:name="com.ognev.online.app.activity.TeaserActivity" android:launchMode="singleTask"/>

		<receiver android:name="com.ognev.online.app.ui.TeaserReceiver">
			<intent-filter>
				<action android:name="taiser"/>
			</intent-filter>
		</receiver>
	</application>



</manifest>
