@using OnlineCinemaProject.Models
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Жанры";
}

<h2>Жанры</h2>
@(Html.Kendo().Grid<genre>()
      .Name("grid")
      .DataSource(dataSource => dataSource
          .Ajax()
           .Model(model =>
            {
                model.Id(genre => genre.id);
            })
          .Read(read => read.Action("Genres_read", "Genre"))
          .Create(read => read.Action("Genres_Create", "Genre"))
          .Update(read => read.Action("Genres_Update", "Genre"))
          .Destroy(read => read.Action("Genres_Destroy", "Genre"))
       )
      .Columns(columns =>
      {
          columns.Bound(product => product.id).Hidden();
          columns.Bound(product => product.name).Title("Название");
          columns.Command(commands =>
          {
              commands.Edit();
              commands.Destroy();
          }).Width(250);
      })
      .ToolBar(t => t.Create())
      .Pageable()
      .Sortable()
      .Filterable()
)


@section scripts{
    @Scripts.Render("~/bundles/kendo")
}
@section styles{
    @Styles.Render("~/Content/kendo/css")
}
