@model IEnumerable<OnlineCinemaProject.Models.movie>
<div>
    <h3>Видео</h3>
    <table >
        @foreach (var content in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Смотреть", "Watch", "Movie", new { url = content.url }, new { @class = "video-placeholder" })
                </td>
                <td>

                    <br />
                    @switch (content.quality)
                    {
                        case 0:
                            {
                                @:Качество: HD
                                break;
                            }
                        case 1:
                            {
                                @:Качество: SD
                                break;
                            }
                    }
                    <br />
                    Цена: @content.price сум

                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", "Movie", new { id = content.id }, null) <br />
                    @Html.ActionLink("Удалить", "Delete", "Movie", new { id = content.id }, null) <br />
                </td>
            </tr>

        }
    </table>

</div>