@model OnlineCinemaProject.Models.teaser

@{
    ViewBag.Title = "Rotator"; Layout = "~/Views/Shared/Dashboard.cshtml";
}

<h2>Rotator</h2>

<img src="~/uploads/@Model.img_url" class="video-img-list" style="" />