@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/AMovie.cshtml";
}

<h1> <a href="~/uploads/app-debug.apk" target="_blank" download="">Скачать мобильную версию на Android "Illusion" </a></h1>