@using OnlineCinemaProject.Models
@model ICollection<video>


    @{
    int counter = 0;
    bool flag = true;
    foreach (var item in Model)
    {

        if (flag)
        {
            <div class="movie movie--test movie--test--dark movie--test--left" >@Html.Partial("_MovieInfo", item)</div>
            counter++;
        }
        if (!flag)
        {
            <div class="movie movie--test movie--test--dark movie--test--right">@Html.Partial("_MovieInfo", item)</div>
            counter++;
        }
        if (counter == 2)
        {
            counter = 0;
            flag = !flag;
            @:<div class="clearfix"></div>
        }


        }
    }

@*<div class="row">
        @{
            int counter = 4;
            foreach (var newVideo in Model)
            {
                if (counter == 0)
                {
                    <div class="row"></div>
                    counter = 4;
                }
                counter --;
                <div class="col-lg-3 col-md-4 col-xs-6 video_item">
                    <a href="@Url.Action("Video", new {newVideo.id})">
                        <img class="img-responsive" src="~/uploads/@newVideo.img_url" alt="">
                        <span class="best-rate">5.0</span>
                        <p>@newVideo.name</p>
                    </a>
                </div>
            }
        }
    </div>
*@