@using OnlineCinemaProject.Models
@model ICollection<video>
<div class="row">
    @{
        int counter = 4;
        foreach (var newVideo in Model)
        {
            if (counter == 0)
            {
                <div class="row"></div>
                counter = 4;
            }
            counter--;
            <div class="col-lg-3 col-md-4 col-xs-6 ">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="~/uploads/@newVideo.img_url" alt="">
                    <p>@newVideo.name</p>
                </a>
            </div>
        }
    }
</div>


