@using OnlineCinemaProject.Models
@{
    Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Страны";
}

<h2>Страны</h2>
@(Html.Kendo().Grid<country>()
      .Name("grid")
      .DataSource(dataSource => dataSource
          .Ajax()
           .Model(model =>
            {
                model.Id(genre => genre.id);
            })
          .Read(read => read.Action("Countries_read", "Country"))
          .Create(read => read.Action("Countries_Create", "Country"))
          .Update(read => read.Action("Countries_Update", "Country"))
          .Destroy(read => read.Action("Countries_Destroy", "Country"))
       )
      .Columns(columns =>
      {
          columns.Bound(product => product.id).Hidden();
          columns.Bound(product => product.name).Title("Название");
          columns.Command(commands =>
          {
              commands.Edit();
              commands.Destroy();
          }).Width(250);
      })
      .ToolBar(t => t.Create())
      .Pageable()
      .Sortable()
      .Filterable()
)


@section scripts{
    @Scripts.Render("~/bundles/kendo")
}
@section styles{
    @Styles.Render("~/Content/kendo/css")
}
