@model OnlineCinemaProject.Models.banner

@{Layout = "~/Views/Shared/_Dashboard.cshtml";
    ViewBag.Title = "Rotator";
}

<h2>Rotator</h2>

<img src="~/uploads/@Model.img_url" class="video-img-list" style="" />
