
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<customerrors mode="On" defaultredirect="~/Error">
    <error redirect="~/Error/Error404" statuscode="404"/>
    <error redirect="~/Error/UnauthorizedAccess" statuscode="403"/>
</customerrors>
