@using OnlineCinemaProject.Models
@{
    ViewBag.Title = "Актеры";
}

<h2>Актеры</h2>
@(Html.Kendo().Grid<actor>()
      .Name("grid")
      .DataSource(dataSource => dataSource
          .Ajax()
           .Model(model =>
            {
                model.Id(genre => genre.id);
            })
          .Read(read => read.Action("Actors_read", "Actor"))
          .Create(read => read.Action("Actors_Create", "Actor"))
          .Update(read => read.Action("Actors_Update", "Actor"))
          .Destroy(read => read.Action("Actors_Destroy", "Actor"))
       )
      .Columns(columns =>
      {
          columns.Bound(product => product.id).Hidden();
          columns.Bound(product => product.name).Title("Название");
          columns.Command(commands =>
          {
              commands.Edit();
              commands.Destroy();
          }).Width(250);
      })
      .ToolBar(t => t.Create())
      .Pageable()
      .Sortable()
      .Filterable()
)


@section scripts{
    @Scripts.Render("~/bundles/kendo")
}
@section styles{
    @Styles.Render("~/Content/kendo/css")
}
